*{
  margin: 0;
  padding: 0;
}
*,
*::befor,
*::after{
  box-sizing: inherit;
}
p{
  color: white;
}
html{
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media ( max-width:75em ){
  html{
    font-size: 60%;
  }
}
@media ( max-width:61.25em ){
  html{
    font-size: 58%;
  }
}
@media ( max-width:28.75em ){
  html{
    font-size: 55%;
  }
}
body{
  font-family: Monospace;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
  color: white ;
}
h1,h2{
  font-weight: 700;
  text-align: center;
}
h1{
  font-size: 6rem;
}
h2{
  font-size: 4.2rem;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: white;
  font-weight: 600;
}
img{
  display: block;
  width: 100%;
  transition: 0.3s;
}
.welcome-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
  background-color: #000;
  background-image:linear-gradient(62deg,#3a3d40 0%, #181719 100%);
}
.welcome-section p{
  font-size:2.5rem;
  font-weight: 200;
  color: #be3144;
}

.projects-section{
  text-align: center;
  padding: 10rem 2rem;
  background:#45567d;
}
.projects-section-header{
  max-width: 680px;
  margin: 0 auto 6rem auto;
  padding-bottom:10px;
  border-bottom: 0.2rem solid white;
}
@media(max-width:28.75em){
  .projects-section-header{
    font-size: 4rem;
  }
}
.projects-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}
@media(max-width:30.625em){
  .projects-section{
    padding: 6rem 1rem;
  }
  .projects-grid{
    grid-template-columns: 1fr;
  }
}
.project{
  background: #061e23;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  border-radius: 2px;
  overflow: hidden;
}
.code{
  color: #061e23;
  transition: color 0.3s ease-out;
}
.project:hover .code{
  color: #ff7f50;
}
.project:hover img{
  transform: scale(1.02);
}
.project-title{
  font-size: 2rem;
  padding: 2rem 0.5rem;
}
.project-image{
  height: calc(100% - 6.8rem);
  width: 100%;
  background-size: cover;
}
.btn{
  display: inline-block;
  padding: 1.5rem 2.2rem;
  border-radius: 3px;
}
.btn-show-all{
  font-size: 2.2rem;
  background: rgb(28,218,78);
  transition: 0.3s;
}
.btn-show-all:hover{
  background: black;
  color: white;
}
.contact-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: auto;
  width: 1005;
  padding: 50px 2rem;
  background:#303841;
}
.contact-section-header h2{
  font-size: 6rem;
}
@media (max-width:28.75rem){
  .contact-section-header h2{
    font-size: 4rem;
  }
}
.contact-links{
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  flex-wrap: wrap;
}
.contact-details{
  font-size: 2.5rem;
  color: white;
}
.contact-details i{
  font-size: 35px;
  transition: 0.25s;
}
.contact-links a:first-child:hover i{
  color: #3b5998 ;
}
.contact-links a:nth-child(2):hover i{
  color: #00acee;
}
.contact-links a:nth-child(3):hover i{
  color:black;
}
.contact-links a:last-child:hover i{
  color: red;
}
footer{
  background: black;
  padding: 25px 0px;
  text-align: center;
}
.nav{
  display: flex;
  width: 100%;
  justify-content:flex-end;
  background: black;
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  z-index:10;
}
.nav-list{
  display: flex;
  margin-right:2rem;
}
.nav-list li{
  display: inline-block;
}
.nav-list a{
  padding: 15px 20px;
}
.nav-list a:hover{
  background: white;
  color: black;
  border-radius: 3px;
}
@media (max-width:650px){
 #navbar{
   padding: 23px;
   text-align: center;
 }
 .nav-list a{
  padding: 23px 20px;
}
}